<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="/javascripts/jquery-3.4.1.js"></script>
<style type="text/css">
body {
  background-color: #d6d6d3;
  height: 100vh;
  width: 100vw;
  display: flex;
     flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
}
.navbar{background:#e5f8cd;}
.nav-link, .navbar-brand{color: #f4f4f4;cursor:pointer;}
.nav-link{margin-right:1em !important;}
.nav-link:hover{background: #f4f4f4;color:#f97300;}
.navbar-collapse{justify-content:flex-end;}
.navbar-toggler{background:#fff !important;}
</style>

  <title>檢視指定之post</title>
  </head>
  <body>
    <div id="show_div">
      <bander></bander>
        <inputer></inputer>
        <!-- <outputer></outputer> -->
    </div>
 
    <template id="banderUI">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">{{brand}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/deep0/branch/customer">{{lastpage}}</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">{{look1}} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{{editbatch}}</a>
            </li>
          </ul>
          <span class="navbar-text">
            {{statusreport}}
          </span>
        </div>
      </nav>
    </template>
    
    <template id="inputerUI" >
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">檢視{{post.a25posttitle}}之資料</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{card_subtitle}}</h6>
            <div class="form-group" :key="inputerUIkey">
                <form action="/deep0/branch/customer" method="get">
                    <label for="formGroupExampleInput2">{{items.item0}}</label>
              <input type="text" name="a05postcode" class="form-control" id="formGroupExampleInput0" :value="post.a05postcode">

              <label for="formGroupExampleInput2">{{items.item1}}</label>
              <input type="text" name="a10posttype" class="form-control" id="formGroupExampleInput1" :value="post.a10posttype">
           
              <label for="formGroupExampleInput2">{{items.item2}}</label>
              <input type="text" name="a15poster" class="form-control" id="formGroupExampleInput2" :value="post.a15poster">
            
              <label for="formGroupExampleInput2">{{items.item3}}</label>
              <input type="text" name="a20postdate" class="form-control" id="formGroupExampleInput3" :value="post.a20postdate">
            
              <label for="formGroupExampleInput2">{{items.item4}}</label>
              <input type="text" name="a25posttitle" class="form-control" id="formGroupExampleInput4" :value="post.a25posttitle">
           
              <label for="formGroupExampleInput2">{{items.item5}}</label>
              <input type="text" name="a30postcontent" class="form-control" id="formGroupExampleInput5" :value="post.a30postcontent">
            
              <label for="formGroupExampleInput2">{{items.item6}}</label>
              <input type="text" name="a35reader" class="form-control" id="formGroupExampleInput6" :value="post.a35reader">
            
              <label for="formGroupExampleInput2">{{items.item7}}</label>
              <input type="text" name="a40showtype" class="form-control" id="formGroupExampleInput7" :value="post.a40showtype">
            
              <label for="formGroupExampleInput2">{{items.item8}}</label>
              <input type="text" name="a45datetodown" class="form-control" id="formGroupExampleInput8" :value="post.a45datetodown">
           
              <input type="hidden" name="statusreport" class="form-control" id="msg1" value="由檢視post後進入本頁">
            
              <input type="submit" id="button1" value="回上頁" class="btn btn-info">
            </div>
          </form>
        </div>
      </div> 
    </template>

 
<!-- Vue CDN-->
<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<script>
Vue.component("bander",{
    props:{},
    data(){
      return {
        brand:"Deep內部功能",
        lastpage:"回前頁",
        look1:"檢視1筆",
        editbatch:"",
        statusreport:'<%- JSON.stringify(statusreport) %>'
      }
    },
    methods:{

    },
    template:"#banderUI"
  });
  Vue.component("inputer",{
    props:{},
    data(){
      return {
        card_title:"(僅供檢視，修改無效)",
        card_subtitle:"各項資料如下:",
        items:{
            item:"ID",
            item0:"公告代號",
            item1:"內容類別",
            item2:"公告者",
            item3:"公告日期時間",
            item4:"公告標題",
            item5:"公告內容",
            item6:"公告對象",
            item7:"呈現方式",
            item8:"預定下架時間",
            item99:"管理註記" 
      },
      post:JSON.parse(decodeURIComponent('<%=post%>')),
      inputerUIkey:0
  }//EOF return 
    }, //EOF data()
    methods:{
        rerender:function() {
      this.inputerUIkey += 1;
      console.log("inputerUIkey:"+this.inputerUIkey) 
    }
    }, 
    /*
    mounted:{
        this:{
            values:{
                value0:post.a05name 
            }}
        }, */   
    template:"#inputerUI"
  });
    new Vue({
        el:'#show_div',
        data:{
          testdata:'有執行到此。。。。'
        },
        /* computed:{

        },
        watch:{

        },
        filters:{

        },
        mixins:[

        ],
        template:" ",
        components:{

        },*/
        beforeCreate:function(){
          console.log("before create...")
        },created:function(){
          console.log("created...")
        },
        beforeMount:function(){
          console.log("before mount...")
        },
        mounted:function(){
          console.log("mounted...")
        },
        beforeUpdate:function(){
          console.log("before update...")
        },
        updated:function(){
          console.log("updated...")
        },
        beforeDestroy:function(){

        } 
    })
</script>


  </body>
</html>